@use "sass:map";

@mixin argsToProps($args...) {
  @each $argName, $argValue in getKeywordsArgs($args) {
    $argName: to-lower-case($argName);
    #{$argName}: #{$argValue};
  }
}

@mixin hidden() {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@mixin focused() {
  &:hover,
  &:focus-visible {
    @content;
  }
}

@mixin circle($diameter, $args...) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  // можно доставить любое свойство, через одноименный keyword
  // например $display: block, $background-color...
  @include argsToProps($args...);
}

// prettier-ignore
@mixin bg(
  $pos: center, 
  $size: contain,
  $repeat: no-repeat,
  $color:null,
  $origin: null, 
  $img: null) 
{
  background-origin: $origin;
  background-size: $size;
  
  @if (isList($img)) {
    $img: setSeparator($img, "comma");
  }
  background-image: $img;
  background-repeat: $repeat;
  background-position: $pos;
  background-color: $color;
}
