// у тумбы должна быть фиксированная высота
@mixin fit($v) {
  width: 100%;
  height: 100%;

  @if (isNonEmptyStr($v)) {
    object-fit: $v;
  }
}

@mixin props($args...) {
  @each $argName, $argValue in getKeywordsArgs($args) {
    $argName: to-lower-case($argName);
    #{$argName}: #{$argValue};
  }
}

@mixin hidden() {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@mixin focused() {
  &:hover,
  &:focus-visible {
    @content;
  }
}

@mixin circle($diameter, $args...) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  // можно доставить любое свойство, через одноименный keyword
  // например $display: block, $background-color...
  @include props($args...);
}
