.advantages {
  @extend %section;

  &__title {
    @extend %visually-hidden;
  }

  &__list {
    @include flex($dir: column, $gap: 30px);

    @include respond("tablet") {
      @include cardset(2, $gap: 30px);
    }

    @include respond("desktop") {
      @include cardset(4, $gap: 30px);
    }
  }
}

.advantage {
  &__thumb {
    @include flexCenter();

    height: 120px;
    margin-bottom: 30px;

    background-color: $colorGreyLight;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__subtitle {
    margin-bottom: 10px;
    @include font($sz: $mainFontSize, $lh: 16px, $color: $colorTextSec, $tt: "upper");

    @include respond($to: "tablet") {
      text-align: center;
    }
  }

  &__text {
    @include font($sz: $mainFontSize, $lh: 24px);
  }
}
