.backdrop {
  @include pos(fixed, $top: 0, $left: 0, $width: 100%, $height: 100%);
  background-color: rgba(black, 0.2);

  opacity: 1;
  visibility: visible;
  @include mainTransition(opacity, visibility);

  overflow: scroll;

  &--hidden {
    // плейсхолдером нельзя - не перебивает обычное состояние
    // ставится в css выше и перебивается нижестоящим .backdrop {...}
    @include hidden;
  }
}
