.customers {
  @extend %section;

  &__list {
    @include flex($dir: column, $gap: 30px);

    @include respond("phone") {
      @include cardset(2, $gap: 30px);
    }

    @include respond("tablet") {
      @include cardset(3, $gap: 30px);
    }

    @include respond("desktop") {
      @include cardset(6, $gap: 30px);
    }
  }

  &__link {
    @extend %link;

    @include flexCenter();
    height: 92px;

    color: #afb1b8;
    @include mainTransition(color);

    border: 1px solid;
    border-radius: 4px;
  }

  &__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
