.works {
  @extend %section;

  &__title {
    @extend %visually-hidden;
  }

  &__filters-list {
    @include flex($row-gap: 15px, $column-gap: 8px, $wrap: true);
    margin-bottom: 50px;

    @include respond("tablet") {
      @include flexCenter($gap: 8px);
    }
  }

  &__list {
    @include cardset(1, $gap: 30px);

    @include respond("tablet") {
      @include cardset(2, $gap: 30px);
    }

    @include respond("desktop") {
      @include cardset(3, $gap: 30px);
    }
  }
}

.works__link {
  display: block;
  height: 100%;

  @include mainTransition(box-shadow);

  @include focused {
    box-shadow: 0px 1px 1px rgba(black, 0.12), 0px 4px 4px rgba(black, 0.06), 1px 4px 6px rgba(black, 0.16);

    .work__overlay {
      transform: translateY(0);
    }
  }
}
