.site-nav {
  @include flexCenter("cross", $gap: 50px);

  &__link {
    display: block;
    padding: 32px 0;

    color: $colorTextSec;
    @include mainTransition(color);
  }
}

.site-nav__link {
  @extend %link;

  &--current {
    position: relative;
    color: $colorAccent;
  }
}

.site-nav__link--current::after {
  content: "";

  @include pos($left: 0, $bottom: -1px, $width: 100%, $height: 4px, $display: block);

  background-color: $colorAccent;
  border-radius: 2px;
}
