.work {
  @include flex($dir: column, $height: 100%);

  &__thumb {
    @include pos(relative, $height: 294px, $overflow: hidden);
  }

  &__picture {
    @include fit(cover);
  }
}

///////////////////////
// desc
///////////////////////

.work {
  &__subtitle {
    margin-bottom: 4px;
    @include font($sz: 18px, $lh: 36px, $ls: 0.06em, $color: $colorTextSec);
  }

  &__type {
    @include font($sz: 16px, $lh: 30px, $color: $colorText);
  }

  &__desc {
    flex-grow: 1;
    padding: 20px 24px;

    border: 1px solid #eeeeee;
    border-top: none;
  }
}

///////////////////////
// overlay
///////////////////////

.work {
  &__about {
    height: 140px;
    padding: 0 24px;

    @include font($sz: 18px, $lh: 28px, $color: white);
    overflow: auto;

    @include respond("tablet") {
      height: 168px;
    }
  }

  &__overlay {
    @include pos($top: 0 100%, $left: 0, $width: 100%, $height: 100%);
    @include flexCenter();

    background-color: rgba(33, 150, 243, 0.9);
    @include mainTransition(transform);
  }
}
